/* A modification of styles by xthexder (https://github.com/xthexder) */

.wide .container {
    width: 90% !important;
    min-width: 980px;
}

.wide .repository-content {
    width: 100% !important;
    margin-right: auto !important;
}

.wide .repository-with-sidebar {
    margin-left: 60px;
}

.wide .repository-with-sidebar.with-full-navigation {
    margin-left: 190px;
}

.wide .repository-with-sidebar .repository-content {
    margin-left: -60px;
}

.wide .repository-with-sidebar.with-full-navigation .repository-content {
    margin-left: -190px;
}

.wide .split-diff .repository-with-sidebar {
    padding-right: 0px !important;
}

.wide .split-diff .repository-with-sidebar .repository-sidebar {
    margin-right: 0px !important;
}

.wide .repository-content .discussion-timeline {
    margin-right: -160px;
    padding-right: 160px;
    width: 100% !important;
}

.wide .repository-content .discussion-timeline .timeline-new-comment {
    max-width: 100% !important;
}

.wide .repository-content .inline-comments .comment-holder {
    max-width: none !important;
}

.wide .repository-content .inline-comments .inline-comment-form-container {
    max-width: none !important;
}

.wide .repository-content .inline-comments .inline-comment-form {
    max-width: none !important;
}

.wide .repository-content .boxed-group-inner .summary-stats {
    display: table;
    width: 100%;
}

.wide .repository-content .boxed-group-inner .summary-stats li {
    width: 25% !important;
}

.wide .repository-content .authors-and-code .section {
    width: 50%;
}

.wide .repository-content .authors-and-code .section svg {
    width: 100%;
}

.wide .repository-content .capped-card {
    margin: 10px 10px 0 0 !important;
}

.wide .repository-content .traffic-graph-stats .summary-stats {
    display: table;
    width: 100%;
}

.wide .repository-content .traffic-graph-stats .summary-stats li {
    width: 50% !important;
}
